include LICENSE README.md requirements-test.lock requirements-dev.lock requirements-case-study.lock
graft docs
graft fixtures
graft tools
graft benchmarks
graft case_studies
graft .github
recursive-include artifacts/demo/cli-002 *.cast *.json *.txt
global-exclude __pycache__ *.py[cod] .DS_Store .lock
